<a href="https://colab.research.google.com/github/stebotta/Bootcamp_ML/blob/master/Desafio_modulo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import files
uploaded = files.upload()

Saving comp_bikes_mod.csv to comp_bikes_mod.csv

In [3]:
nm_arquivo = 'comp_bikes_mod.csv'
dataframe_bike = pd.read_csv(nm_arquivo)

In [4]:
dataframe_bike.head()

   instant      dteday  season   yr  ...  windspeed  casual  registered   cnt
0      1.0         NaN     1.0  0.0  ...        0.0     3.0        13.0  16.0
1      2.0  2011-01-01     1.0  0.0  ...        0.0     8.0        32.0  40.0
2      3.0  2011-01-01     1.0  0.0  ...        0.0     5.0        27.0  32.0
3      4.0  2011-01-01     1.0  0.0  ...        0.0     3.0        10.0  13.0
4      5.0  2011-01-01     1.0  0.0  ...        0.0     0.0         1.0   1.0

[5 rows x 17 columns]